.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-pallet{
  position: absolute;
  right: 2%;
  top: 12%;
}
.color-pallet div{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(214, 214, 214);
  margin-right: 10px;
  cursor: pointer;
}
.color-pallet div.red{
  background-color: #750000;
}
.color-pallet div.blue{
  background-color: #15007c;
}
.color-pallet div.green{
  background-color: #007910;
}
.color-pallet div.dark{
  background-color: #000e1e;
}